body {

        overflow-x: hidden;
        font-family: 'IBM Plex Sans', sans-serif;
        padding: 0;
        margin: 0;

}

p {

        padding: 0;
        margin: 0;
        border: 0;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;

}

#border {

        position: absolute;
        left: 0;
        top: 0;

}

#outside_border {

        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 100;
        box-shadow: inset 0 0 0 30px #28282B;
        border: none;

}

#display_border {

        position: absolute;
        left: 1vw;
        top: 2vh;
        width: 98vw;
        height: 96vh;
        z-index: 101;
        border-radius: 20px;
        box-shadow: inset 0 0 0 30px #929491;
        border: none;

}

#display {

        position: absolute;
        left: 1vw;
        top: 2vh;
        width: 96vw;
        height: 92vh;
        z-index: 102;
        border-radius: 20px;
        border: none;
        box-shadow: inset 0 120px 0 0 #6F6D70, inset 0 -60px 0 0 #6F6D70, inset 30px 0 0 0 #6F6D70, inset -30px 0 0 0 #6F6D70;

}

#top_bar {

        position: absolute;
        height: 105px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

}

#page_selection {

        position: absolute;
        right: 15px;
        background: #28282B;
        border-radius: 30px;
        height: 45px;
        margin: 15px;
        z-index: 103;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        padding-left: 17px;
        padding-right: 17px;
        text-transform: uppercase;
        color: white;

}

#page_selection ul {

        list-style-type: none;
        padding: 0;
        margin: 0;

}

#page_selection ul li {

        display: inline;
        margin-right: 5px;
        margin-left: 5px;

}

#top_logo {

        position: absolute;
        left: 10px;
        margin: 25px;
        z-index: 103;

}

#footer {

        position: absolute;
        height: 50px;
        width: 100%;
        bottom: 0;
        display: flex;
        align-items: center;

}

#trademark {

        color: white;
        font-size: 12px;
        position: absolute;
        right: 30px;

}

#social_bar {

        color: white;
        font-size: 12px;
        position: absolute;
        left: 30px;

}

#social_bar ul {

        list-style-type: none;
        padding: 0;
        margin: 0;

}

#social_bar ul li {

        display: inline;
        margin-right: 5px;
        margin-left: 5px;
        font-size: 15px;
        color: #28282B;
        font-weight: 700;

}

#window_border {

        position: absolute;
        left: 20px;
        top: 105px;
        width: calc(100% - 40px);
        height: calc(100% - 155px);
        z-index: 103;
        border-radius: 20px;
        box-shadow: inset 0 0 0 20px transparent;
        border: none;

}

#window {

        position: absolute;
        left: 0;
        top: 10px;
        width: 100%;
        height: calc(100% - 10px);
        z-index: 104;
        border-radius: 20px;
        box-shadow: inset 0 0 0 10px #6F6D70;
        border: none;
}

#content {

        position: absolute;
        left: 0;
        top: 0;
        z-index: 50;
        background: transparent;
        width: 100vw;
        height: 500vh;
        overflow-x: hidden;

}

#left_wall {

        position: absolute;
        top: 0px;
        left: 0;
        height: 100vh;
        width: 51vw;
        background: #28282B;
        z-index: 50;
        display: flex;
        align-items: center;

}

#left_wall_text {

        position: absolute;
        right: 60px;
        color: white;
        font-weight: 700;
        font-size: 14vh;
        text-transform: uppercase;

}

#right_wall {

        position: absolute;
        top: 0px;
        right: 0;
        height: 100vh;
        width: 51vw;
        background: #28282B;
        z-index: 50;

}

#title {

        position: absolute;
        font-weight: 700;
        text-transform: uppercase;
        z-index: 45;
        top: 0;
        width: 100vw;
        height: 100vh;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 250px;
        background: #000000;

}

#title p {

        z-index: 49;

}

#width_warning {

        display: none;
        align-items: center;
        justify-content: center;
        background: #6F6D70;
        width: calc(100vw - 60px);
        height: calc(100vh - 60px);
        color: white;
        text-transform: uppercase;
        margin: 0;
        padding: 30px;

}

/* Customize the scrollbar track */
::-webkit-scrollbar {
    width: 3px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #28282B; /* Set the background color of the track */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the thumb */
    border-radius: 5px; /* Set the border radius of the thumb */
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Set the color of the thumb on hover */
}

.lightgreen {

        color: #03FF4F;

}

.lightgray {

        color: #929491;

}

@media (max-width: 725px) {

        #top_logo, #trademark {

                display: none;

        }

        #page_selection, #social_bar {

                position: static;

        }

        #footer {

                display: flex;
                align-items: center;
                justify-content: center;

        }

}

@media (max-width: 370px) {

        #border, #content {

                display: none;

        }

        #width_warning {

                display: flex;

        }

}